
p Ciocolata 
h5 Sticla e goala 
div Telefon 
p I usually use paragraphs when I want to write a more descriptive text related to the subject that I preset
h1 Antonia  a fost aici 
p Am pornit ventilatorul